/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #555;
}

/* Estilos específicos para la sección de contacto */
#contacto {
    background-color: #fff;
    padding: 40px 0;
}

#contacto h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}

.contact-info {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.contact-info li {
    margin-bottom: 10px;
}

.contact-info li a {
    color: #333;
    text-decoration: none;
}

.redes-sociales {
    list-style-type: none;
    padding: 0;
}

.redes-sociales li {
    display: inline;
    margin-right: 10px;
}

.redes-sociales li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.redes-sociales li a:hover {
    color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
